#background {
    background-color: #1C1D21;
}
.logbtns{
    width: 100%;
    left:0; right:0;
    top:0; bottom:0;
    margin: auto;
    display: block;
}

nav div button{
    margin: 5px;
}

.blackground{
    background-color: #1C1D21;
    height: 100%;
    width: 100%;
}

/* the game */
.board{
    width: 400px;
    background-color: beige;
    height: 400px;

}

.boardpiny{
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;

}

.boardpinx{
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;

}

.bg-blue{
    background-color: blue;
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.bg-green{
    background-color: green;
}